*{
    padding: 0px;
    margin: 0px;
}
body
{ background-color: rgb(122, 169, 177);
}
button{
    padding: 10px;
}
input{
    height: 30px;
    font-size: 14px;
}
select{
    height: 40px;
    padding: 10px;
}
hr{
    height: 20px;
    background-color: rgb(46, 42, 42);
}

